* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

#root{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  height: 100%;
}

#root > div:first-child {
  height: fit-content;
  margin: 0 auto 3% auto;
  background: #424242;
}

.scores {
  display: flex;
  margin: 0 auto;
  width: 50%;
  justify-content: space-around;
}

canvas {
  margin: 0 auto; 
  display:block;
}

body{
  background: black;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  /* margin-top: 2%; */
}

