* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

#root{
  display: flex;
  height: 100%;
}

#root > div {
  height: fit-content;
  margin: auto;
  background: #424242;
}

canvas {
  margin: auto; 
  display:block;
}

body{
  background: black;
}

